.contact-section{
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact-header{
  color: #04AED9;
  font-weight: 800;
  position: absolute;
  top: 4rem;
}
.contact-data{
  background-color: #161455;
  height: 33rem;
  width: 60%;
  position: absolute;
  top: 8rem;
  border-radius: 8px;
  padding: 2rem;
}
.contact-data div  {
  width: 95%;
  background: #F7F7F7;
  margin: 1rem;
  padding: 1rem;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  
}
.contact-data div span{
  color: #393939;
  width: 7rem;
  font-size: 9px;
  font-weight: 300;
}
.contact-data div input{
  border: none;
  padding: 4px;
  background-color: #F7F7F7;
}
.contact-data div input::placeholder,
.contact-textarea textarea{
  color: #ADADAD;
}
.contact-data .contact-data02{
  background-color: #161455;
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 0;
  padding: 0;
}
.contact-data div .contact-mail,
.contact-data div .contact-phone  {
  width: 45%;
}
.contact-textarea{
  height: 10rem;
}

.contact-textarea textarea{
  height: 7rem;
  border: none;
  padding: 4px;

}

svg{
  width: 1rem;
  height: 1rem;
}

.contact-submit{
  background: #04AED9;
  color: #fff;
  border: none;
  padding: 6px;
  border-radius: 20px;
  padding: 0.6rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 95%;
  margin: auto;
}

.contact-submit:hover{
  background: #088cad;

}